img {
width: 355px;
height: 269.15px;
}
.input {
width: 345.4px;
height: 31.30px;
background: #FFFFFF;
border: 0.871763px solid #D0D0D0;
border-radius: 26.1529px;
}
h4 {
    padding-left: 50px;
    color: #544A0C;
}
.date {
    color: #FFFFFF;
    height: 70px;
    background-color: #EBB478;
    border-radius: 40px 40px 0px 40px;
}
.time {
    color: #FFFFFF;
    background-color: #EBB478;
    height: 35px;
    width: 90px;
    border-radius: 30px;
}
.date:focus {
    background-color: #544A0C;
}
.time:focus {
    background-color: #544A0C;
}
